<h1>Uptime Monitoring</h1>
<h2>Made Easy</h2>

<div class="blurb">
  We offer free, easy uptime montoring for HTTP/HTTPS websites.
  When your site goes up or down, we'll notify you via text.
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse non nisi vitae odio convallis mollis. Suspendisse vulputate ex sed eros condimentum pulvinar sed nec libero. Vivamus id ex id nulla convallis convallis eget at orci. Etiam euismod massa et massa blandit lobortis. Nullam consectetur varius mi, sed consequat purus mollis condimentum. Cras vitae risus ut eros semper hendrerit at ac sem. Integer fermentum velit sit amet sem ornare euismod. Praesent lobortis ligula lacinia ante aliquet sagittis. Phasellus volutpat neque purus, tempor ullamcorper tortor mattis at. Praesent euismod, nisi sit amet lobortis porttitor, augue orci laoreet nunc, ac porttitor nunc urna sit amet neque. Praesent fermentum volutpat odio, ac egestas arcu porta id. Morbi in lobortis nisl. Etiam gravida, massa sed dignissim semper, nibh nisl placerat ex, sed pellentesque massa metus vel nibh. Nulla lobortis ligula sed porta lacinia. Sed fermentum sodales nunc in accumsan.
  Nullam et erat metus. Morbi vel consectetur erat. Donec faucibus justo a sapien molestie, vel gravida risus iaculis. Donec eu viverra turpis. Nam a tempus arcu. Aliquam in sapien placerat, tristique arcu tempus, eleifend diam. Mauris quis neque eget augue dictum porttitor. Aenean id nunc vitae libero et ut tortor.
</div>
<div class="ctaWrapper">
  <a class="cta green" href="account/create">Get Started</a>
  <a class="cta blue" href="session/create">Login</a>
</div>
